* {
  padding: 0;
  margin: 0;
}
header {
  display: flex;
  background: #130121;
  color: white;
  padding: 5px;
  align-items: center;
}
.header_col {
  flex-direction: column;
}
.header_name {
  font-size: 1.5rem;
  font-weight: bold;
  flex-grow: 1;
}
.header_actions {
  right: 5px;
  display: flex;
  gap: 10px;
}
.header_actions > * {
  cursor: pointer;
  margin: 5px;
}
.header_form{
  background-color: white;
  display: flex;
}
.header_form input{
  padding:5px;
  border: none;
}
.header_form button{
  background-color: white;
  border: none;
}