@keyframes backgroundAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

* {
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
.App {
  overflow: hidden;
}
header {
  display: flex;
  position: fixed;
  width: 100vw;
  align-items: center;
  z-index: 1;
  justify-content: space-around;
  color: white;
}
header.light {
  background-color: #f0f4ff;
  color: #0d3b66;
}
header.dark {
  background: #1c1c1c;
  color: #ffd700;
}
.header_col {
  flex-direction: column;
}
.back_icon.dark {
  color: white;
}
.back_icon.light {
  color: black;
}
.back_icon {
  min-width: 10%;
}
.header_name {
  font-size: 1.5rem;
  padding-left: 5px;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1px;
  text-align: center;
  flex-grow: 1;
}
.header_actions {
  margin-right: 5px;
  display: flex;
  gap: 10px;
  min-width: 30%;
}
.header_col .back_icon {
  display: none;
}
.header_actions > * {
  cursor: pointer;
  margin: 5px;
}
.searchIcon.light {
  color: #028391;
}
.searchIcon.dark {
  color: #4da6ff;
}
.accountIcon.light {
  color: #32cd32;
}
.accountIcon.dark {
  color: #ff6347;
}
.themeToggler.light {
  color: #ffd700;
}
.themeToggler.dark {
  color: #ffffff;
}
.header_form {
  background-color: white;
  display: flex;
  padding: 5px;
  margin: 3px 0;
  border-radius: 10px;
  margin-right: 20px;
}
.header_form input {
  padding: 5px;
  border: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.header_form button {
  background-color: white;
  border: none;
}

.hero {
  width: 100vw;
  height: 92vh;
  background-position: center;
  display: flex;
  background-repeat: no-repeat;
  align-items: flex-end;
  background-size: cover;
}

.hero_content {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1.5em;
  background-color: rgb(0 0 0 / 65%);
  width: 100%;
  font-size: 1em;
}
.hero_content > p {
  max-height: 20vh;
  overflow: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: transparent #ffffff24;
}
.rate_buttons > * {
  padding: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  display: flex;
  cursor: pointer;
  align-items: center;
}
.rate_buttons {
  display: flex;
  margin-top: 10px;
}
.rate {
  color: orange;
  background-color: black;
  font-weight: bold;
}
.review {
  background-color: white;
  font-weight: bold;
}
.ArrowKeys {
  position: absolute;
  top: 30%;
  width: 22px;
  color: oldlace;
}
.ArrowKeys > p {
  padding-left: 2px;
  cursor: pointer;
}
.ArrowKeys.left {
  left: 5%;
}
.ArrowKeys.right {
  right: 10%;
}
.list-container {
  padding: 20px;
  display: flex;
  color: white;
  flex-direction: column;
}
.list-container.dark {
  background-color: #0d0d0d;
}
.list-container.light {
  background-color: #ffd700;
}
.list {
  overflow-x: auto;
  display: flex;
}
.list.admin {
  height: max-content;
  margin: auto;
}
.list.admin > * {
  font-family: sans-serif;
}
.list_skelton {
  display: flex;
  flex-direction: column;
  margin: 1em;
}
.list-container > h2 {
  margin: 15px 10px;
  font-size: 2em;
  width: max-content;
}
.list-container.light > h2 {
  color: #1b262c;
}
.list-container.dark > h2 {
  color: #ffffff;
}
.user_rating_review {
  margin-top: 2em;
  border-radius: 10px;
  padding: 1em;
  font-size: 1.5em;
  display: flex;
  gap: 1em;
  justify-content: space-around;
}
.user_rating_review.dark {
  background-color: #1b262c;
  color: #f2f2f2;
}
.user_rating_review.light {
  background-color: #f2f2f2;
  color: #1b262c;
}
.user_rating {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
div.non_rating.dark span.MuiRating-icon svg.MuiSvgIcon-root {
  color: yellow !important;
}
.list_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  margin-right: 2em;
  min-width: 250px;
  max-width: 250px;
  padding-left: 1rem;
}
.list_item.light {
  background-color: #fffaf0;
}
.list_item.dark {
  background-color: #333333;
}
.list_content {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  padding: 1rem;
  width: 100%;
}
.list_content.light {
  color: #0d3b66;
}
.list_content.dark {
  color: #ffd700;
}
.list_content.light > h6 {
  color: #555555;
}
.list_content.dark > h6 {
  color: #aaaaaa;
}
.list_content img {
  height: 250px;
  margin-bottom: 1em;
  object-fit: cover;
}
.list_content h3 {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1;
  min-height: 2em;
}
.list_content.admin h3 {
  min-height: auto;
}
.list_content h6 {
  font-size: 1rem;
  color: #0f4c75;
  overflow-y: auto;
  padding-top: 15px;
  min-height: 7em;
  max-height: 7em;
}
.list_content.admin h6 {
  min-height: auto;
}
.list_functions {
  margin-bottom: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}
/* ADMIN PAGE */
.admin.header {
  height: 3em;
  color: white;
  z-index: 999;
}
.admin.header.light {
  background-color: #0a6847;
}
.themeToggler.light.admin {
  color: orange;
}
.accountIcon.admin {
  cursor: pointer;
}
.accountIcon.admin.light {
  color: white;
}
.page_admin {
  height: max-content;
  overflow: auto;
  min-height: 75vh;
}
.page_admin.light {
  background-color: #f3ca52;
}
.page_admin.dark {
  background-color: #2d2727;
}
.tableHead > * {
  font-weight: 900 !important;
}
.list_actions.admin {
  justify-content: space-around;
}
.list_item.add_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #427d9d;
  border-radius: 10px;
  margin: 10px;
}
.admin.list_item.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #9bbec8;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  height: 16rem;
}
.admin.list_actions > * {
  color: revert-layer;
}
.admin.form_heading {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  text-transform: capitalize;
  border-bottom: 3px solid darkblue;
}
.admin.stats {
  margin: 4em 2em;
  border-radius: 10px;
}
.admin.stats.light {
  background-color: white;
}
.admin.stats.dark {
  background-color: #413543;
}
.admin.stats h2 {
  font-size: 2rem;
  border-bottom: 2px solid;
  text-align: center;
  text-transform: capitalize;
}
.admin.stats.light h2 {
  color: #0a6847;
}
.admin.stats.dark h2 {
  color: #fff;
}
.stats.item {
  padding: 1em;
}
.stat.item {
  padding: 5px;
}
.stat_heading {
  font-size: 1.5em;
  font-weight: 800;
}
.stat_heading.light {
  color: #7aba78;
}
.stat_heading.dark {
  color: #8f43ee;
}
.stat_value {
  font-size: 2em;
}
.stat_value.light {
  color: #1b262c;
}
.stat_value.dark {
  color: #fff;
}
.admin.footer {
  height: max-content;
}
.admin.footer.light {
  background-color: #fff;
}
.admin.footer.dark {
  background-color: #5c495f;
}
.admin.footer > div {
  padding: 1em;
}
.admin.footer > div h3 {
  font-size: 2.5em;
  margin-bottom: 1em;
  padding-left: 10px;
}
.admin.footer.light > div h3 {
  color: chocolate;
}
.admin.footer.dark > div h3 {
  color: #f0eb8d;
}
.footer_actions {
  display: flex;
  justify-content: space-around;
}
.footer_link {
  padding: 5px;
  font-size: 1.2rem;
  border-radius: 3px;
}
.footer_link.light {
  background-color: #f3ca52;
  color: #0a6847;
}
.footer_link.dark {
  background-color: #413543;
  color: #e6ff94;
}

.genre_drop {
  margin: 4em 1em 2em;
}
.login_container {
  background-image: url("../public/login_background.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-attachment: fixed;
  animation: backgroundAnimation 10s infinite linear;
  display: grid;
  place-items: center;
}
.login_page {
  display: flex;
  flex-direction: column;
  background-color: #153448;
  border-radius: 10px;
  position: absolute;
  height: max-content;
  color: #ffc55a;
  font-size: 1.5em;
  padding: 1em;
}
.login_options {
  display: flex;
  justify-content: space-around;
  border-radius: 5px 5px 0px 0px;
}

.login_options div {
  width: 50%;
  text-align: center;
  padding: 0.5em 0;
  transition: background-color 0.3s ease-in-out;
}
.login_options > .active {
  background-color: #2c4e80;
  flex-grow: 1;
  border-radius: 8px 8px 0 0;
  border-bottom: 2px solid white;
}

.login_form {
  display: flex;
  flex-direction: column;
  background-color: #2c4e80;
  padding: 0.5em;
  border-radius: 8px 8px 8px 8px;
  gap: 0.4em;
}
.login_form.left {
  border-radius: 0 8px 8px 8px;
}
.login_form.right {
  border-radius: 8px 0% 8px 8px;
}
.login_form label {
  margin-bottom: 7px;
}
.login_form button {
  background-color: #fc4100;
  color: #ffc55a;
  font-weight: 900;
}
.non_genre_link {
  width: 93%;
  text-align: center;
  background-color: #164863;
  padding: 5px;
  margin: auto;
  border-radius: 5px;
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie_details_container {
  display: flex;
  flex-direction: column;
  padding: 6em 1em 1em;
}
.movie_details_container.light {
  background-color: #faaf00;
}
.movie_details_container.dark {
  background-color: #0d0d0d;
}
.movie_details_shower {
  border-radius: 10px;
  padding: 1em;
  display: flex;
  justify-content: space-around;
  margin: 1em;
}
.movie_details_shower.light {
  background-color: #fffaf0;
}
.movie_details_shower.dark {
  background-color: #333333;
}
.movie_details_image {
  width: 30%;
  display: grid;
  place-content: center;
}
.movie_details_image img {
  width: 10em;
}
.movie_details_info > * {
  font-weight: 600;
  font-size: 1.3em;
  display: flex;
  align-items: center;
  gap: 3px;
  flex-wrap: wrap;
}
.movie_details_info {
  padding: 1em;
  width: 50%;
}
.movie_details_info.dark > * {
  color: #999;
}
.movie_details_info.light > * {
  color: #555;
}
.movie_details_info h3 {
  align-items: baseline;
}
.movie_details_info h4 span {
  font-weight: 900;
  font-size: 1.4rem;
}
.movie_details_info ul li {
  font-weight: 700;
  font-size: 1.2em;
  margin-left: 2em;
}
.movie_details_info.dark h4 span,
.movie_details_info.dark li {
  color: floralwhite;
}
.movie_details_info.light h4 span,
.movie_details_info.light li {
  color: #1b262c;
}
.movie_details_info ul {
  flex-direction: column;
  align-items: flex-start;
}
.search_page {
  padding: 5em 2em 0;
  height: max-content;
  color: white;
  padding-bottom: 3em;
}
.search_page.dark {
  background-color: #0d0d0d;
}
.search_page.light {
  background-color: #faaf00;
}
.search_key {
  display: flex;
  align-items: center;
  padding: 1em;
  font-size: 1.5em;
}
.search_key h3 {
  text-transform: uppercase;
}
.rating {
  color: yellow;
}
.no_search_result {
  font-size: 2em;
  font-style: italic;
  text-align: center;
  height: 100vh;
}
.user_review_header {
  display: flex;
  align-items: center;
  gap: 2em;
}
.user_review span {
  color: #faaf00;
}
.user_review {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.non_rating {
  display: grid;
  place-content: flex-start;
  font-size: 1.7em;
  gap: 0.2em;
}
.non_review {
  display: flex;
  align-items: center;
  justify-content: center;
}
.review_section {
  margin-top: 3em;
  border-radius: 10px;
  padding: 2em;
  display: grid;
  gap: 1em;
}
.review_section.light {
  background-color: #1b262c;
  color: #f0f4ff;
}
.review_section.dark {
  background-color: #f0f4ff;
  color: #1b262c;
}
.review_Adder {
  background: white;
  padding: 0.1em !important;
  border-radius: 2px;
}
.review_section h3 {
  font-size: 3em;
}
.review_tile {
  font-size: 1em;
  background-color: #444;
  padding: 1em;
  border-radius: 5px;
  color: white;
}
.review_tile > div {
  display: flex;
  font-size: 1.5em;
  gap: 1em;
  align-items: center;
  margin-bottom: 1em;
  justify-content: space-between;
}
.review_user_section {
  display: flex;
  align-items: center;
  gap: 1em;
}
.user_tile {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.review_info_tile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}
@media only screen and (max-width: 600px) {
  .movie_details_shower {
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
  .movie_details_info > * {
    align-items: baseline;
    justify-content: space-between;
  }
  .movie_details_info h3 span {
    text-align: end;
    max-width: 6em;
    overflow: auto;
  }
  .user_rating_review {
    flex-direction: column;
  }
  .non_review {
    display: none;
  }
  .non_rating {
    place-content: stretch;
  }
  .user_review + .non_rating {
    width: 100%;
  }
  .header_form {
    margin-right: 0;
  }
}
